* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #1ea0c8,
    #63a7cd,
    #8aafd0,
    #a8b8cf,
    #bec2ce
  );
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #fff; */
  border: 3px solid blue;
}

ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 5rem;
}

li {
  list-style: none;
  min-width: 4rem;
  min-height: 2rem;
  border-radius: 7rem;
  -webkit-border-radius: 7rem;
  -moz-border-radius: 7rem;
  -ms-border-radius: 7rem;
  -o-border-radius: 7rem;
  border: 0.2rem solid rgb(224, 224, 224);
  padding: 0 7rem 0 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding-left: 1rem;
  display: flex;
  width: 100%;
}

/* increase the size of radio button  */
input[type="radio"] {
  width: 20px;
  height: 20px;
}

/* style the appearance of the radio button  */
input[type="radio"]:checked {
  background-color: #8ec5fc; /*change the background color when selected */
  border-color: #8ec5fc; /*change the border color when selected */
}

.btn {
  padding: 2rem 5rem;
}

button {
  padding: 0 5rem;
  height: 5rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background-color: #7090e7;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}

.result {
  width: 100%;
  height: auto;
  padding: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.result h2 {
  font-size: 3.4rem;
}

.result p {
  font-size: 2rem;
}
